@import "libs/variables.scss";
@import "libs/functions.scss";

@media #{$tablet-up} {
 
.navbar {
    margin-top: -.7em;
    padding-right: 1em !important;
    padding-left: 0 !important;
 }
.navbar-brand {margin-left: .5em;}
.navbar-nav {
    border-top: rgba(30, 30, 30, .2) .1em solid;
}
.nav-item {
    background: #f1f1f1 !important;
    border-bottom: rgba(30, 30, 30, .2) .1em solid;
}
.nav-item:hover {
    background: darken( #f1f1f1, 5%) !important;
}
.nav-link {margin-left: .5em;}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
        background-color: darken(#F1F1F1, 5%) !important;
      }
.services {
    & h2 br {
        display: none;
    }
}
.whatido {
    padding: 3em 2em 3em 3em !important;
}

.realisations {
    width: 660px;
    height: 820px;
    margin-left: 3.5em;
  }
}