@media only screen and (min-width: 768px) {
  .entete {
    background-image: url("../img/la-chouette-agence.png");
    background-repeat: no-repeat;
    width: 50vw;
    height: 2em;
  }
}
@media only screen and (min-width: 992px) {
  .entete {
    margin-left: 1em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .entete {
    margin: 1em 0 0 1em;
  }
}
@media only screen and (max-width: 767px) {
  .entete {
    background-image: url("../img/mobile/la-chouette-agence.png");
    background-repeat: no-repeat;
    margin: .5em 0 0 1em;
    width: 50vw;
    height: 1.2em;
  }
}
