@charset "UTF-8";
/* Enlever l'unité */
/* Convertir pixel en rem */
/* Convertir pixel en em */
/* Convertir pixel en % */
/* Convertir pixel en vw */
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.none {
  display: none;
}

.navbar-toggler {
  border: none !important;
}

.navbar-default .navbar-collapse {
  border: none !important;
}

button:focus {
  outline: 0px dotted !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.nav-item .nav-link {
  color: #000 !important;
  font-size: 1.25em;
  font-weight: 600;
}

.navbar-brand img {
  width: 100%;
}

main {
  background: transparent !important;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 22em;
  height: 19.55em;
  font-size: 1.125em;
  font-weight: 600;
  color: #fff;
  background: rgba(196, 71, 14, 0.7);
}
.presentation .presentation--logo {
  padding-bottom: 3em;
}
.presentation .presentation--texte {
  padding-bottom: 0.5em;
}

h2 {
  font-size: 1.75rem !important;
}

.icon-lg {
  font-size: 3.75rem;
  color: #364577;
}

.services {
  padding: 0 2.5em;
}

.signature {
  text-align: right !important;
}

section {
  width: 100vw !important;
}

.whatido {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.whatido h2 {
  margin: 0;
}
.whatido p {
  margin: 0;
}
.whatido .whatido--bottom {
  padding-bottom: 2em;
}

.black-background {
  background-color: rgba(165, 147, 99, 0.7);
  padding: 0.625em;
}

.black-background__darken {
  background-color: rgba(70, 59, 30, 0.7);
  padding: 0.625em;
}

.envoi, .lien--page {
  border-radius: 30px !important;
  font-weight: 700 !important;
  background: #C4470E;
  color: #fff;
  border: none;
  padding: 0.625em 0.9375em;
  margin: -0.625em 0 0.625em 0 !important;
  cursor: pointer;
}

.envoi:hover, .lien--page:hover {
  background: #ee5a17 !important;
}

.lien--page:hover {
  background: #ee5a17 !important;
  color: #fff;
  text-decoration: none;
}

.b-center {
  display: flex;
  justify-content: center;
}

#bloc-4-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.realisations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.legende {
  width: 320px;
  padding: 0.5em 1em 0 1em;
  font-size: 14px;
}

h4 {
  font-size: 16px !important;
  text-transform: uppercase;
}

footer a {
  color: white;
}
footer a:hover {
  color: white;
  text-decoration: none;
}

.gras {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.02rem;
}

.titre-formulaire {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}
.titre-formulaire h2 {
  font-size: 1.25em !important;
  margin-right: 0.5em;
}

.main-pds ul {
  padding: 2em 2em;
}
.main-pds ul ul {
  padding-left: 2em;
}

.main-pds a {
  color: #C4470E;
}

.main-pds a:hover {
  color: #C4470E;
  text-decoration: none;
}

.social:hover {
  color: #fce1d5;
}

.btn-atomic-tangerine, .bgc-atomic-tangerine {
  background: #C4470E;
}

.text-orange__dark {
  color: #7d2d09;
}

.text-orange {
  color: #C4470E;
}

/*# sourceMappingURL=style.css.map */
